@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

#root {
  margin: 0;
  height: 100svh;
  width: 100svw;
  background-color: #554ccc;
}

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.clip-diagonal {
  clip-path: polygon(59% 0, 100% 0%, 100% 99%, 48.2% 100%);
}
